In [1]:
t=[1,2,3,1,4,4]
s1=set(t)

In [2]:
s1.add(5)

In [3]:
s1

{1, 2, 3, 4, 5}

In [4]:
set1={1,2,3,4}
set2={5,6,1,2}
set3=set1.union(set2)

In [5]:
set3

{1, 2, 3, 4, 5, 6}

In [6]:
set1|set2

{1, 2, 3, 4, 5, 6}

In [7]:
set1&set2

{1, 2}

In [8]:
set1.intersection(set2)

{1, 2}

In [9]:
s1==s2

NameError: name 's2' is not defined

In [10]:
set1==set2

False

In [11]:
set1>set2

False

In [12]:
set1>=set2

False

In [13]:
set1!=set2

True

In [14]:
set1^set2

{3, 4, 5, 6}

In [15]:
set1<=set2

False

In [16]:
se1={1,2,3}
se2={1,2,3,4}
se1<=se2

True

In [18]:
print('set1=',(set([1,2,3,4,5,6])))

set1= {1, 2, 3, 4, 5, 6}

In [19]:
sett1=set()
for i in range(1,6):
    sett1.add(i)
print('sett1=',sett1)

sett1= {1, 2, 3, 4, 5}

In [20]:
sett1.remove(5)

In [21]:
sett1

{1, 2, 3, 4}

In [22]:
sett1.pop()

1

In [23]:
sett1

{2, 3, 4}

In [24]:
sett1.push(5)

AttributeError: 'set' object has no attribute 'push'

In [25]:
sett1

{2, 3, 4}

In [26]:
sett1.add(5)

In [27]:
sett1

{2, 3, 4, 5}

In [50]:
import numpy as np
import pandas as pd
np.random.seed(10000)
print(np.random.randint(1,10))
np.random.seed(1000)
print(np.random.randint(1,10))
np.random.seed(10000)
print(np.random.randint(1,10))

6
4
6

In [51]:
help(np.random.seed())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).